p,
li,
ul,
input {
    font-family: var(--main-font);
    font-size: var(--main-font-size);
    line-height: 1.2;
    color: var(--dark);
}

.container {
    min-width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr minmax(800px, 1200px) 1fr;
    grid-template-rows: 1fr minmax(700px, 850px) 1fr;
    justify-items: stretch;
    align-items: stretch;
}

@media screen and (max-width: 800px) {
    .container {
        display: block;
    }
}