.container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr minmax(800px, 1200px) 1fr;
    grid-template-rows: minmax(20px, 1fr) minmax(650px, 850px) 1fr;
    justify-items: stretch;
    align-items: stretch;
}

@media screen and (orientation: landscape) and (max-width: 800px),
screen and (orientation: landscape) and (max-height: 670px),
screen and (orientation: portrait) and (max-width: 800px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
}