.data__temp-big {
    grid-area: temperature;
    font-size: 144px;
}

.data__basic {
    grid-area: basic;
    font-size: 24px;
}

.data__detail {
    grid-area: details;
    font-size: 18px;
}

.data__icon {
    grid-area: img;
    width: 80%;
    height: 80%;
    justify-self: center;
    background: url("/assets/02d.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.data__forecast {
    grid-area: forecast;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.forecast__day {
    width: 70px;
    height: 100px;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.day__weekday {
    align-self: center;
    font-size: 16px;
}

.day__icon {
    width: 70%;
    height: 40%;
    align-self: center;
    background: url("/assets/50d.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.day__temp {
    align-self: left;
    font-size: 24px;
}