.main__localization {
    padding: 16px 20px 0 20px;
}

.main__form {
    position: relative;
    top: 0;
    left: 0;
    border-bottom: 2px solid var(--dark);
    /* border-radius: 4px 4px 0px 0px; */
}

.main__form::after {
    display: block;
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 50px;
    height: 20px;
    background: var(--dark);
}

.form__search {
    width: 100%;
    padding: 20px;
    font-size: 24px;
    background: rgba(255, 255, 255, 0.95);
    outline: 0;
    border: none;
    border-radius: 5px 5px 0px 0px;
}

.form__icon {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background: url(/assets/loupe.svg) no-repeat;
    background-size: contain;
    background-position: center;
}

.form__suggestions {
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: 100%;
    padding: 0 20px;
    background: rgba(255, 255, 255, 0.85);
    list-style: none;
}

.form__list-item {
    padding: 20px 0;
    font-size: 18px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.form__city,
.form__country {
    display: inline-block;
}

.form__city {
    min-width: 200px;
}

.form__country {
    opacity: 0.5;
}

.user-city {
    position: relative;
}

.user-city::after {
    position: absolute;
    top: 100%;
    left: 0;
    display: block;
    content: "Your location";
    font-size: 14px;
    line-height: 1;
    opacity: 0.6;
}


.main__date {
    padding-top: 40px;
}