:root {
    --main-font: Roboto, Arial, sans-serif;
    --main-font-size: 24px;
    --orange: #F7AA35;
    --cream: #FAF2E5;
    --dark: #3A3134;
    --light-blue: #6FC7E1;
    --blue: #2D7A9C;
    --dark-blue: #2D7A9C;
}